h1{
    text-align: center;
    color: white;
    text-decoration: underline;
    font-style: italic;
    font-weight: 500;
    font-size: 5rem;
}

table ,th ,td {
    border: 1px solid grey;
    /* text-align: center; */
    padding: 20px;
}

table{
    margin: auto;
    padding: 50px;
}

#img:hover{
    background-color: grey;
}

#footer{
    padding: 20px;
    }