*{
  margin: 0;
  padding: 0;
}
body{
  overflow-x: hidden;
}

#landing{
  background-image: url(../images/wallpaper.webp), linear-gradient(rgba(0,0,0,0.5),rgba(0, 0, 0, 0));
  background-blend-mode: overlay;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-style: italic;
  font-weight: 25;
}
#landing-container{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding-top:10%;
}
#landing-heading{
  color: white;
  text-decoration: underline;
  font-style: italic;
  font-weight: 500;
  font-size: 5rem;
}
.landing-text{
  color: white;
  font-size: 30px;
}

#Searcher{
  background-color: black;
}
#landing-filter .row{
  color: white;
}

/* Property Listing Section */
#car-market-title{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-style: italic;
  font-size: xx-large;
  text-decoration: underline;
}
#car-market-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}
.card{
  box-shadow: 3px 3px 10px 1px black;
}

select{
  color: grey;
}
option{
  color: black;
}

#footer{
padding: 20px;
}