#landing {
    background: 
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
      ),
      /* bottom, image */ url(../images/wallpaper.webp);
    background-size: cover;
    background-attachment: fixed;
  }

#heading{font-family: 'Smooch', cursive;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding-top: 225px;
  }

